div {
    margin: 10% 0 0 10%;
    height: 100px;
    width: 100px;
    border: 1px solid red;
}

button {
    margin: 50px 0 0 50px;
}
.host {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}